.logo {
    margin: 10% auto;

    @include media-breakpoint-up(sm) {
        max-width: 400px;
    }

    @include media-breakpoint-up(md) {
        max-width: 600px;
    }
}

.section {
    padding: ($spacer-y * 3) 0;

    &:nth-child(odd) {
        background-color: $gray-lightest;
        border-top: 1px solid $gray-lighter;
        border-bottom: 1px solid $gray-lighter;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.container-narrow {
    max-width: 800px;
}

#footer {
    background-color: $gray-lightest;
    border-top: 1px solid $gray-lighter;
    color: $gray-light;
}
