.social-icons {
  font-size: $h3-font-size;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;

  a {
    color: $white;
    text-decoration: none;
    transition: opacity 0.25s ease-in-out;

    &:hover {
      opacity: 0.85;
    }
  }
}
