h1, h2, h3, h4 {
    text-transform: uppercase;
    font-weight: 900;
}

hr {
    width: 20%;
    margin: $spacer-5 auto;
}

code {
    margin-top: 10px;
    display: inline-block;
    background-color: #f9f2f4;
    font-size: 80%;
}

.title,
.subtitle {
    margin-bottom: $spacer-3;
}

.subtitle {
    color: $primary;

  @include media-breakpoint-down(sm) {
    margin-top: $spacer-4;
    margin-bottom: $spacer-4;
  }
}

