.image-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .screenshot {
        margin: $spacer-2;

        @include media-breakpoint-up(sm) {
            width: calc((100% / 2) - #{$spacer-2 * 2});
        }

        @include media-breakpoint-up(md) {
            width: calc((100% / 3) - #{$spacer-2 * 2});
        }
    }

}
