.screenshot {
    margin-bottom: $spacer-3;
    @include media-breakpoint-up(sm) {
        float: left;
        padding: $spacer-3;
        width: 50%;
    }

    @include media-breakpoint-up(md) {
        width: 33%;
    }
}
